@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root{
  --main-width: min(90vw, 1400px);
  --primary-colour: #004AAD;
  --secondary-colour: #5ba7d1;
  font-family: 'Quicksand';
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  :root{
    font-size: 14px;
    }
}

*{
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5{
  margin: 0
}

body{
  background-color: #ffffff;
}

header{
  background-color: var(--primary-colour);
  position: fixed;
  width: 100vw;
}

nav{
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 4rem;
  /* padding: 0.8rem 0; */
}

.nav-link{
  color: white;
  text-decoration: none;
}

.push{
  margin-left: auto
}

.section{
  padding-top: 4rem;
  min-height: 100vh;
}

.wrapper{
  width: var(--main-width);
  margin: 0 auto;
}

.intro-container{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  gap: 4rem;
}

.hero-pic{
  width: 20rem;
  border-radius: 50%;
}

.message{
  max-width: 50ch;
  text-align: center;
}

.message h1{
  
  font-size: 8rem;
  margin: 1rem 0;
  color: var(--secondary-colour)
}

.message p{
  line-height: 2rem;
  font-size: 1.2rem;
  /* font-weight: 400; */
}

.project-stack{
  display: flex;
  gap: 1rem;
}

.tech-wrapper{
  /* border: 1px solid blue; */
  text-align: center;
  padding: 0.25rem;
}

.icon-small{
  height: 2rem;
}
